body {
    background-color: bisque;
    font-family: sans-serif;
    color: salmon
}

/*comment here*/

h1 {
    font-family: monospace;
    color: lightcoral;
}

/*commentingggg*/

p {
    font-family: sans-serif;
    color: salmon
}
#text2 {
    font-size=36px;
}
